<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>QUESTAO 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <h1>QUESTAO 2</h1>

    <form action="/qq2" method="post">
            <p>Calcular soma</p>

            <label for="">Informe o primeiro número</label>
            <input type="number" name="v1"></br></br>
            <label for="">Informe o segundo número</label> 
            <input type="number" name="v2"></br>

            <button type="submit">Somar</button>
    </form>

    <br> 

    <form action="/q2" method="get">
        <p>Subtração</p>

        <label for="">Informe o primeiro número</label>
        <input type="number" name="v1">
        <br></br>
        <label for="">Informe o segundo número</label>
        <input type="number" name="v2"></br>

        <button type="submit">Subtrair</button>
    </form>
</body>
</html>